<table id="weaknesses-table" class="table-chart">
    <tr>
        <td class="splitted">
            <div class="h-1">ATK</div>
            <div class="h-2">DEF</div>
        </td>
        <th *ngFor="let type of types;" scope="col">
            <img src="https://temtem-api.mael.tech{{type.icon}}" title="{{type.name}}" id="first-row-{{type.name}}" class="icon"/>
        </th>
    </tr>
    <tr *ngFor="let type of types; let _index = index">
        <th scope="row">
            <img src="https://temtem-api.mael.tech{{type.icon}}" title="{{type.name}}" id="first-column-{{type.name}}" class="icon"/>
        </th>
        <td *ngFor="let td of tdArray(types.length);" [className]="populateCellBackground(td, _index)">{{getWeaknessMultiplicator(td, _index)}}</td>        
    </tr>
</table>